<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加数据</title>
</head>
<body>
<center>
    <span><h1>手动添加数据</h1></span>
    <span>
        <form method="POST" action="/addelem/">
            <table border="1">
                <tr><td>姓名</td>
                    <td>中心</td>
                    <td>项目</td>
                    <td>今日工作</td>
                    <td>待解决的问题</td>
                    <td>明日工作计划</td>
                </tr>
                <tr>
                    <!- <input type="text" style="display: none"> 页面不显示 ->
                    <td><input type="text" name="name"></td>
                    <td><input type="text" name="center"></td>
                    <td><input type="text" name="project"></td>
                    <td><input type="text" name="todaywork"></td>
                    <td><input type="text" name="todayproblems"></td>
                    <td><input type="text" name="tomorrowwork"></td>
                </tr>
            </table>
            <br>
            <span>
                <input type="submit" name="submit1" value="登录">
            </span>
        </form>


</span>
</center>




</body>
</html>