{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部日志数据</title>
<!--    <script src="/static/jquery-3.4.1.js"></script>-->
<!--    <script src="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css" type="application/javascript"></script>-->
    <link  href="{% static 'plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
<!--    <link  href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">-->

<!--    <link rel="stylesheet" href="/sta"/>-->
<!--    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap-theme.css"/>-->
// <!--    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">-->

    <style>
        .hide{
           display: none;
        }
        .shadow{
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background: black;
            opacity: 0.4;
            z-index: 1;
        }
        .model{
            z-index: 1;
            position: fixed;
            left: 50%;
            top: 50%;
            width: 400px;
            height: 200px;
            background: white;
            margin-left: -200px;
            margin-top: -150px;
        }


    </style>
</head>
<body>

<center>
<!--    <script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="{% static 'jquery-3.4.1.js' %}"></script>
<!--    <script src="/static/jquery-3.4.1.js"></script>-->
    <span><h1>{{ time }}</h1></span>

    <table class="table">
        <thead>
        <tr>
            <th>用户名</th>
            <th>中心</th>
            <th>项目</th>
            <th>今日完成的工作</th>
            <th>待解决的问题</th>
            <th>明日工作计划</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>

        {% for row in data %}
            <tr>
                {% for elem in row %}
                    <td> {{ elem }}</td>
                {% endfor %}
                <td><a onclick="Modeledit(this);">编辑</a></td>
                <td> 删除</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <a href="" onclick="return Modalshow()">添加数据</a>
</center>
<div  id="shadow" class="shadow hide"></div>
<div id="model" class="model hide">
    <form method="POST" action="/addelem2/">
        <p>
            <center>
                <input id="title" type="text" name="title">
                <br>
                <input type="button" value="提交"  onclick="AjaxSend()">
                <input type="button" value="取消"  onclick="Modalcancle()">
                <span id="errormassage"></span>
            </center>
        </p>
    </form>
</div>
<div>
<!--<img src="/static/55.jpg" width="165" height="60" />-->
<img src="{% static '/55.jpg' %}" />
</div>
<div id="editModel" class="model hide">
    <form method="POST" action="/addelem2/">
        <p>
            <center>
                <a>编辑数据</a>
                <br>
                <a >今日完成的工作</a>
                <input id="data1" type="text" name="title">
                <br>
                <a >待解决的问题</a>
                <input id="data2" type="text" name="title">
                <br>
                <a >明日工作计划</a>
                <input id="data3" type="text" name="title">
                <br>
                <input type="button" value="提交"  onclick="editAjaxSend()">
                <input type="button" value="取消"  onclick="editModalcancle()">
                <span id="editerrormassage"></span>
            </center>
        </p>
    </form>
</div>

<div>
    <script src="{% static 'jquery-3.4.1.js' %}"></script>

<!--    <script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>-->
    <script>
        function Modeledit(ths){
            document.getElementById('shadow').classList.remove('hide');
            document.getElementById('editModel').classList.remove('hide');
            data=$(ths).parent().prevAll();
            // console.log(data);
            console.log($(data[2]).text());
            $('#data1').val($(data[2]).text());
            $('#data2').val($(data[1]).text());
            $('#data3').val($(data[0]).text());
        }
        function Modalshow() {
            document.getElementById('shadow').classList.remove('hide');
            document.getElementById('model').classList.remove('hide');
            return false;
        }
        function Modalcancle() {
            document.getElementById('shadow').classList.add('hide');
            document.getElementById('model').classList.add('hide');
        }

        function editModalcancle() {
            document.getElementById('shadow').classList.add('hide');
            document.getElementById('editModel').classList.add('hide');
        }

        function AjaxSend(){
            $.ajax({
                url: "/addelem2/",
                type : "POST",
                data : {'title': $('#title').val()},
                success:function (data) {
                    // 当服务端处理完后自动执行此函数
                    if (data=="ok"){
                        alert("添加成功")
                       location.reload() //刷新页面
                        // location.href="/showdata/"
                    }
                    else{
                        //alert("添加失败")
                        $('#errormassage').text(data)
                    }
                    console.log(data)
                }
            })


        }

        function editAjaxSend(){
            $.ajax({
                url: "/editelem2/",
                type : "POST",
                data : {'data1': $('#data1').val(),'data2': $('#data2').val(),'data3': $('#data3').val()},
                success:function (arg) {
                    arg=JSON.parse(arg);
                    // 当服务端处理完后自动执行此函数
                    if (arg.status){
                        alert("修改成功！")
                        location.reload() //刷新页面
                        // location.href="/showdata/"
                    }
                    else{
                        //alert("编辑失败("+data+")");
                        //JSON.parse(字符串)-->对象
                        //JSON.stringify(对象)-->字符串

                        $('#editerrormassage').text(arg.message);
                    }
                    console.log(arg)
                }
            })


        }
    </script>
    
</div>
</body>
</html>