<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部日志数据</title>
    <style>
        .hide{
           display: none;
        }
        .shadow{
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background: black;
            opacity: 0.4;
            z-index: 1;
        }
        .model{
            z-index: 1;
            position: fixed;
            left: 50%;
            top: 50%;
            width: 400px;
            height: 400px;
            background: white;
            margin-left: -200px;
            margin-top: -200px;
        }


    </style>
</head>
<body>

<center>
    <span><h1>{{ time }}</h1></span>
    <br>
    <a id="newbox" onclick="adddialogbox()">对话框添加</a>
    <table border="1">
        <thead>
        <tr>
            <th>用户名</th>
            <th>密码</th>
            <th>中心</th>
            <th>项目</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>

        {% for row in data %}
            <tr>
                {% for elem in row %}
                    <td> {{ elem }}</td>
                {% endfor %}
                <td><a onclick="Modeledit(this);">编辑</a></td>
                <td> 删除</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <a href="" onclick="return Modalshow()">添加数据</a>
</center>
<div  id="shadow" class="shadow hide"></div>
<div id="model" class="model hide">
    <form method="POST" action="/addelem2/">
        <p>
            <center>
                <input id="title" type="text" name="title">
                <br>
                <input type="button" value="提交"  onclick="AjaxSend()">
                <input type="button" value="取消"  onclick="Modalcancle()">
                <span id="errormassage"></span>
            </center>
        </p>
    </form>
</div>

<div id="editModel" class="model hide">
    <form method="POST" action="/addelem2/">
        <p>
            <center>
                <h3>修改用户数据</h3>
                <br>
                <table>
                    <tr>
                        <td><a >用户名</a></td>
                        <td><input id="data1" type="text" name="title"></td>
                    </tr>
                    <tr>
                        <td><a >密码</a></td>
                        <td><input id="data2" type="text" name="title"></td>
                    </tr>
                    <tr>
                        <td><a >中心</a></td>
                        <td><input id="data3" type="text" name="title"></td>
                    </tr>
                    <tr>
                        <td><a >项目</a></td>
                        <td><input id="data4" type="text" name="title"></td>
                    </tr>
                </table>
                <br>
                <input type="button" value="提交"  onclick="editAjaxSend()">
                <input type="button" value="取消"  onclick="editModalcancle()">
                <span id="editerrormassage"></span>
            </center>
        </p>
    </form>
</div>

<div>
    <script src="/static/jquery-3.4.1.js"></script>
    <script>
        function Modeledit(ths){
            document.getElementById('shadow').classList.remove('hide');
            document.getElementById('editModel').classList.remove('hide');
            data=$(ths).parent().prevAll();
            // console.log(data);
            console.log($(data[3]).text());
            $('#data1').val($(data[3]).text());
            $('#data2').val($(data[2]).text());
            $('#data3').val($(data[1]).text());
            $('#data4').val($(data[0]).text());
        }
        function Modalshow() {
            document.getElementById('shadow').classList.remove('hide');
            document.getElementById('model').classList.remove('hide');
            return false;
        }
        function Modalcancle() {
            document.getElementById('shadow').classList.add('hide');
            document.getElementById('model').classList.add('hide');
        }

        function editModalcancle() {
            document.getElementById('shadow').classList.add('hide');
            document.getElementById('editModel').classList.add('hide');
        }

        function AjaxSend(){
            $.ajax({
                url: "/addelem2/",
                type : "POST",
                data : {'title': $('#title').val()},
                success:function (data) {
                    // 当服务端处理完后自动执行此函数
                    if (data=="ok"){
                        alert("添加成功")
                       location.reload() //刷新页面
                        // location.href="/showdata/"
                    }
                    else{
                        //alert("添加失败")
                        $('#errormassage').text(data)
                    }
                    console.log(data)
                }
            })


        }

        function editAjaxSend(){
            $.ajax({
                url: "/editelem2/",
                type : "POST",
                data : {'data1': $('#data1').val(),'data2': $('#data2').val(),'data3': $('#data3').val()},
                success:function (arg) {
                    arg=JSON.parse(arg);//反序列化
                    // 当服务端处理完后自动执行此函数
                    if (arg.status){
                        alert("修改成功！")
                        location.reload() //刷新页面
                        // location.href="/showdata/"
                    }
                    else{
                        //alert("编辑失败("+data+")");
                        //JSON.parse(字符串)-->对象
                        //JSON.stringify(对象)-->字符串

                        $('#editerrormassage').text(arg.message);
                    }
                    console.log(arg)
                }
            })


        }




        $(function() {
            $("#newbox").click(function(){
                alert("1234");
            })
        })
    </script>

</div>
</body>
</html>