<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交结果</title>
</head>
<body>
<center>
    <table>
        <tr>
           <td>用户名</td> <td>{{ username }}</td>
        </tr>
        <tr>
           <td>中心</td> <td>{{ center }}</td>
        </tr>
        <tr>
           <td>项目</td> <td>{{ project }}</td>
        </tr>
        <tr>
           <td>今日完成工作</td> <td>{{ todaywork }}</td>
        </tr>
        <tr>
           <td>待解决问题</td> <td>{{ todayproblems }}</td>
        </tr>
        <tr>
           <td>明日工作计划</td> <td>{{ tomorrowwork }}</td>
        </tr>
        <br>

     </table>
    <span><font color="red">{{ message }}</font></span>
</center>
</body>
</html>